<!DOCTYPE html>
<html>
    <head>
        <title>Teachers</title>
        <link rel="stylesheet" href="/public/estilo.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/">Teachers</a>
                <a href="/students">Students</a>
            </div>
        </header>

        {% block conteudo %} {% endblock %}
    </body>
</html>